.App {
  text-align: center;
  min-width: 675px;
}
img {
  width: 150px;
  height: 100px;
  border-radius: 25px;
}
body {
  background: #F9F91D;
  color:rgb(214, 39, 51)
  /* color: #BC1818; */
}
a {
  font-family: 'K2D', sans-serif;
  font-size: 22px;
  text-decoration: none;
  color: #0E1921;
}
.randTitle {
  font-size: 30px;
}
.randomLink {
  font-size: 16px;
}
.formBox {
  height: 45px;
}
input {
  border-radius: 20px;
}

.listInfo {
  overflow-x: auto;
  width: 250px;
  display: inline-block;
  border: 2px solid black;
  border-radius: 55px;
  margin: 5px;
}
.listInfo:hover {
  background-color: lightgrey
}
.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(265px, 20fr));
  row-gap: 5px;
}
.loadingGif {
  width: 50px;
  height: 50px;
}
.headerBox {
  display: flex;
  height: 127px;
}
h3 {
  font-family: 'Sriracha', cursive;
  font-size: 40px;
  margin-bottom: -10px;
  margin-top: 10px;
}

.headerImg {
  position: absolute;
  width: 100px;
  height: 100px;
}

input:focus {
  outline: none;
}
.headTitle {
  font-family: 'Permanent Marker', cursive;
  margin: 30px auto 13px;
  border: 2px solid #928a88e7;
  color: black;
  border-radius: 30px;
  padding: 10px 0 2px;
  height: 60px;
  width: 365px;
  animation: grow 1s linear infinite;
  animation-duration: 3s;
}
.title {
    margin-bottom: 15px;
    margin-top: -30px;
}
.randContainer {
    margin: 1px;
}
.randAddress, 
.randPhone {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  height: 25px;
  margin: 5px 0px 5px 0px;
}
.randName {
  margin: 5px;
}
.inputBox {
  height: 21px;
  width: 100px;
  text-align: center;
  animation: blinkerB 1s linear infinite;
  animation-duration: 3s;
}
.button {
  color:black;
  
  width: 70px;
  margin: 3px;
  padding: 6px;
  font-size: 11px;
  animation: blinkerA 1s linear infinite;
  animation-duration: 2s;
}
.button:hover{
  background: rgb(214, 39, 51);
  font-size: 13px;

}
.thinkingDot {
  width: 25px;
  height: 25px;
  margin: 0 auto;
  border-radius: 50px;
  background: white;
  animation: blinkerD 1s linear infinite;
  animation-duration: 1s;
}

@keyframes grow {  
  50% {  transform: scale(1.2); }
}

.loadingGif {
  width: 50px;
  height: 50px;
}
.footer {
  background: black;
  border: 2px solid lightgrey;
  border-radius: 50px;
}
