.App {
  text-align: center;
  min-width: 600px;
}
img {
  width: 150px;
  height: 100px;
  border-radius: 25px;
}
body {
  background: #D8D838;
  color: #BC1818;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: #0E1921;
}
input {
  border-radius: 20px;
}
.listInfo {
  width: 250px;
  display: inline-block;
}
.headerBox {
  display: flex;
  height: 100px;
}
.headerImg {
  position: absolute;
}
.headTitle {
  margin: 25px auto;
}
